<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.user_status %>
</p>

<% unless @user.image.empty? %>
<p><strong>User has uploaded the following images</strong></p>
    <% @user.image.each do |image| %>
        <%= link_to "#{image_tag(image.S3Image.url(:thumb))}".html_safe, image %>
        <br/>
    <% end %>

<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
