<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.user_status %>
</p>


<% unless @user.friends.empty? %>
    <p><strong>User has following friends</strong></p>
    <% @user.friends.each do |friend| %>
    <p>
      <%= link_to "#{friend.username}", friend %>
      <% if current_user == @user %>
          <%= link_to 'Cancel friendship', reject_friendship_path(friendship_with_current_user(friend)), method: :delete %>
      <% end %>
    </p>
    <% end %>
<% end %>



<% if current_user == @user %>
    <!-- list friends -->
    <!-- list outstanding received friendship requests, if any-->
    <% unless @user.pending_received_requests.empty? %>
        <p><strong>You have outstanding received friend requests</strong></p>
        <% @user.pending_received_requests.each do |request| %>
            <p>Request from <%= link_to "#{request.requester.username}", request.requester %>
            <%= link_to 'Accept friendship', accept_friendship_path(request.id), method: :post %>
            <%= link_to 'Reject friendship', reject_friendship_path(request.id), method: :delete %>
            </p>
            <br/>
        <% end %>
    <% end %>

    <!-- list outstanding sent friendship requests, if any-->
    <% unless @user.pending_sent_requests.empty? %>
        <p><strong>You have outstanding sent friend requests</strong></p>
        <% @user.pending_sent_requests.each do |request| %>
            <p>Request to <%= link_to "#{request.friend.username}", request.friend %></p>
            <br/>
        <% end %>
    <% end %>
<% else %>
    <% unless current_user.nil? %>
        <% friendship = friendship_with_current_user(@user) %>
        <% if friendship == nil %>
            <%= form_for(@friendship) do |f| %>
                <%= f.hidden_field :friend_id %>
                <%= f.submit value: "Request friendship with #{@user.username}" %>
            <% end %>
        <% else %>
            <% if friendship.status == Friendship::Status::PENDING %>
                <p><%= link_to 'Cancel pending request', reject_friendship_path(friendship_with_current_user(@user)), method: :delete %></p>
            <% else %>
                <p><%= link_to 'Cancel friendship', reject_friendship_path(friendship_with_current_user(@user)), method: :delete %></p>
            <% end %>
        <% end %>

    <% end %>
<% end %>


<% unless @user.image.empty? %>
    <p><strong>User has uploaded the following images</strong></p>
    <% @user.image.each do |image| %>
        <%= link_to "#{image_tag(image.S3Image.url(:thumb))}".html_safe, image %>
        <br/>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
