<p id="notice"><%= notice %></p>

<p><strong>Uploaded by: </strong>
  <% if @image.user %>
    <%= link_to "#{@image.user.username}", @image.user %>
  <% else %>
    Anonymous
  <% end %>
</p>


<p><strong>Insert link to album if this belongs to one</strong></p>

<% if current_user && current_user == @image.user %>
    <select id="visibilityselect" onchange="setVisibility();">
        <%= options_for_select(@visibility, value: @visibility) %>
    </select>


    <select><%= options_for_select(@image.user.albums, value: @image.user.albums) %></select>
<% end %>



<% if image_owner_or_moderator?(@image) %>
    <%= link_to 'Destroy', @image, method: :delete, data: { confirm: 'Are you sure?',  } %>
    <br/>
<% end %>


<%= link_to "#{image_tag @image.S3Image.url(:medium)}".html_safe, @image.S3Image.url(:original) %>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<!-- will be moved into its own file when views get redone -->
<script type="application/javascript">

  $(document).ready(function() {
      var selection = $("#visibilityselect");
      var visibility = <%= @image.visibility %>;

      if (visibility === <%= Image::Visibility::PUBLIC %>) {
          visibility = "public"
      } else if (visibility === <%= Image::Visibility::FRIENDS %>) {
          visibility = "friends"
      } else if (visibility === <%= Image::Visibility::PRIVATE %>) {
          visibility = "private"
      }
      selection.val(visibility);
  });

  function setVisibility() {
      var req = new XMLHttpRequest();
      req.open("POST", "<%= set_visibility_image_path %>");
      var data = {
          visibility: $("#visibilityselect").val(),
          authenticity_token: '<%= form_authenticity_token %>'
      };
      req.setRequestHeader("Content-Type","application/json");
      req.send(JSON.stringify(data));
  }
</script>