
<h1>Uploader:
  <% if @image.user %>
    <%= link_to "#{@image.user.username}", @image.user %>
  <% else %>
    Anonymous
  <% end %>
</h1>


<% if @image.album.nil? %>
    <p><strong>Not part of any album</strong></p>
<% else %>
    <p><strong>Part of album <%= link_to "#{@image.album.name }", @image.album %></strong></p>
<% end %>

<% if current_user && current_user == @image.user %>
    <p>
      <span>Visiblity</span>
        <select id="visibilityselect" onchange="setVisibility();">
            <%= options_for_select(@visibility, value: @visibility) %>
        </select>
    </p>
    <p>
      <span>Album</span>
        <select id="albumselect" onchange="setAlbum();">
          <% @albums.each do |album| %>
            <option value="<%= album[:id]%>"><%=album[:name] %></option>
          <% end %>
        </select>
    </p>

<% end %>

<p>
<% if image_owner_or_moderator?(@image) %>
    <%= link_to 'Delete image', @image, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?',  } %>
    <br/>
<% end %>
</p>

<div class="row">
    <div class="col-lg-3 col-sm-4 col-xs-6">
        <%= link_to "#{image_tag @image.S3Image.url(:medium)}".html_safe, @image.S3Image.url(:original), class: 'img-responsive thumbnail pull-left'  %>
    </div>
</div>
<% if current_user %>
    <p>
    <%= form_for(@comment, method: 'post') do |f| %>
        <%= f.text_area :text, size:'40x10' %>
        <%= f.hidden_field :image_id %>
        <br/>
        <%= f.submit %>
    <% end %>
    </p>
<% end %>


<% @image.comments.each do |comment| %>
    <p>
        <p>Comment by <%= link_to "#{comment.user.username}", comment.user %><p/>
        <p><%= comment.text %></p>
        <% if comment_owner_or_moderator?(comment) %>
            <%= link_to 'Delete comment', comment, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure' } %>
        <% end %>
    </p>
<% end %>




<!-- will be moved into its own file when views get redone -->
<script type="application/javascript">


  $(document).ready(function() {

      var visibility = 0;
      visibility = <%= @image.visibility %>;

      if (visibility === <%= Image::Visibility::PUBLIC %>) {
          visibility = "public"
      } else if (visibility === <%= Image::Visibility::FRIENDS %>) {
          visibility = "friends"
      } else if (visibility === <%= Image::Visibility::PRIVATE %>) {
          visibility = "private"
      }

      $("#visibilityselect").val(visibility);

      $("#albumselect").val( <%= if @image.album.nil? then 'undefined' else @image.album.id end %>);

  });

  function setVisibility() {
      var req = new XMLHttpRequest();
      req.open("POST", "<%= set_visibility_image_path %>");
      var data = {
          visibility: $("#visibilityselect").val(),
          authenticity_token: '<%= form_authenticity_token %>'
      };
      req.setRequestHeader("Content-Type","application/json");
      req.send(JSON.stringify(data));
  }

  function setAlbum() {
      var req = new XMLHttpRequest();
      req.open("POST", "<%= set_album_image_path %>");
      var data = {
          album: $("#albumselect").val(),
          authenticity_token: '<%= form_authenticity_token %>'
      };
      req.onreadystatechange = function() {
          if(req.readyState == this.DONE)
            window.location.reload(true)
      }

      req.setRequestHeader("Content-Type","application/json");
      req.send(JSON.stringify(data));
  }

</script>